@page "/Admin/Login"
@layout AdminLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject NavigationManager Navigation
@inject ILogger<AdminLogin> Logger
@inject AdminSupabase AdminSupabase
@inject ProtectedSessionStorage ProtectedSessionStorage

@rendermode InteractiveServer

<div class="login-card align-content-center">
    <div class="login-header">
        <h2>Welcome</h2>
        <h3>CBOS Batangas</h3>
    </div>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit" FormName="admin-login-form">
        <DataAnnotationsValidator/>
        @if (!string.IsNullOrEmpty(LoginWarning))
        {
            <div class="alert alert-warning" role="alert">
                @LoginWarning
            </div>
        }
        <div class="mb-3">
            <InputText class="form-control capsule"
                       id="adminId"
                       placeholder="Administrator ID"
                       @bind-Value="Model.id"/>
            <ValidationMessage For="@(() => Model.id)" class="text-danger"/>
        </div>
        <div class="mb-3">
            <div class="password-field">
                <InputText class="form-control password-input capsule"
                           type="password"
                           id="password"
                           placeholder="Password"
                           @bind-Value="Model.password"/>
                <ValidationMessage For="@(() => Model.password)" class="text-danger"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </EditForm>
</div>


@code {
    private AdminLoginModel? Model;
    private string? LoginWarning;
 
    protected override void OnInitialized()
    {
        Model = new();
    }

    public async Task OnValidSubmit()
    {
        Logger.LogInformation("Attempting admin login with ID: {AdminId}", Model?.id);

        var result = await AdminSupabase.Login(Model?.id ?? string.Empty, Model?.password ?? string.Empty);
        switch(result.Code)
        {
            case AdminSupabaseCode.Success:
                // store session key in local storage or cookie
                var sessionKey = result.sessionToken;

                await ProtectedSessionStorage.SetAsync("adminSessionKey", sessionKey);

                Navigation.NavigateTo("/admin/app");
                break;

            case AdminSupabaseCode.InvalidCredentials:
                LoginWarning = "Invalid ID or password. Please try again.";
                break;

            case AdminSupabaseCode.AdminNotFound:
                LoginWarning = "No admin found with the provided ID.";
                break;

            default:
                LoginWarning = "An unexpected error occurred. Please try again later.";
                break;
        }
    }


    public class AdminLoginModel
    {
        [Required]
        public string? id { get; set; }
        [Required]
        public string? password { get; set; }
    }
}